<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="cn.dlx.ssm.mapper.UserMapper">
    <resultMap type="User" id="userMap">
        <id column="id" property="id"/>
    </resultMap>
  
    <select id="queryUserById" resultMap="userMap">
        select * from tb_user where id = #{id}
    </select>
    <select id="queryUserByPage" resultMap="userMap">
        select * from tb_user limit #{num},#{size}
    </select>
    <select id="queryUserAll" resultMap="userMap">
        select * from tb_user
    </select>
    <insert id="saveUser">
        INSERT INTO demo.tb_user (
            user_name,
            password,
            name,
            age,
            sex,
            birthday,
            created,
            updated
        )
        VALUES
            (
                #{userName},
                #{password},
                #{name},
                #{age},
                #{sex},
                #{birthday},
                now(),
                now()
            );
            
    </insert>
    <delete id="deleteUserById">
        delete from tb_user where id=#{id}
    
    </delete>
  
    <delete id="deleteUserByIds">
        delete from tb_user where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
        #{id}</foreach>
    
    </delete>
  
  </mapper>